/* CONTAC PAGE STYLING */
.contact-cards {
  gap: 5vh;
}

.contact-card {
  box-sizing: border-box;
  border: 5px dotted rgb(31, 174, 126);
  border-radius: 21px;
  width: 500px;
  font-size: 1.2rem;
  background: rgb(220, 210, 210);
display: flex;
align-items: center;
}

.contact-card img {
  height: 200px;
  width: 200px;
  padding: 18px;
  border-radius: 48px;
}

.contact-card h3, p {
  margin: 8px 20px;
}

.contact-card h3 {
  color: rgb(31, 174, 126);
  letter-spacing: 1px;
}

.contact-card-info {
  gap: 14px;
}

.contact-card-info p {
  font-style: italic;
}
