/* FOR ELEMENTS THAT ARE SHARED BETWEEN ALL PAGES */

/* NAVBAR STYLING */
body {
  margin: 0;
  padding: 0;
  background: rgb(240, 230, 230);
}

.banner {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.9)), url('../img/header-food.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
}

.banner h1 {
  flex-grow: 1;
  text-align: center;
  color: rgb(240, 230, 230);
  letter-spacing: 5px;
  font-size: 2.7rem;
}

nav {
  padding-top: 64px;
}

nav ul {
  display: flex;
  list-style-type: none;
  background: rgba(0, 223, 153, .65);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 20px;
  flex: 1;
  cursor: pointer;
  letter-spacing: 2px;
}

.nav-item:hover {
  background: rgba(0, 223, 153, .5);
}

.nav-item-active {
  background: rgba(0, 223, 153, .5);
}
/* END NAVBAR STYLING */

/* CONTENT STYLING */
#content {
  margin: 0px 22vw;
  padding: 32px 0px;
}

.content-header {
  padding: 4px;
  margin-bottom: 4px;
}

h2 {
  margin: 0px;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: rgb(31, 174, 126);
}

.button {
  background: rgb(31, 174, 126);
  padding: 8px 16px;
  border: 3px solid rgb(31, 174, 126);
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(240, 230, 230);
}

.button:hover {
  background: rgb(39, 217, 157);
  border: 3px solid rgb(39, 217, 157);
}

.subtext {
  margin: 0px;
  font-size: 0.9rem;
  color: rgb(100, 100, 100);
  font-style: italic;
}
/* END CONTENT STYLING */

/* FOOTER STYLING */
footer {
  background: rgb(220, 210, 210); 
  color: rgb(31, 174, 126);
  text-align: center;
  font-weight: bold;
  padding: 64px 0px;
}
/* END FOOTER STYLING */
