/* UTILITY CLASSES */
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
